body {
  background-image: url("img/pastel\ back\ 2-03.png");
  background-size: cover;       
  background-position: center; 
  background-repeat: no-repeat;
}

h1, h2, h3, h5{
    font-family: "Playfair", serif;
    color: 3E3E3E;
}
.custom-nav-wrapper {
  padding-left: 140px;
  padding-right: 140px;
}
.custom-nav-outer{
  position: sticky;  
  top: 0;
  z-index: 999;
  width: 100%;
  padding: 0;  
}

.custom-landing-wrapper{
  text-align: center;
  padding-top: 230px;
  height: 575px;            
  margin: 50px auto;       
  padding: 4rem 2rem;           
  max-width: 1200px; 
}

@media (min-width: 992px) {
  .custom-landing-wrapper {
    padding-left: 130px;
    padding-right: 130px;
    padding-top: 100px;
  }
}

.custom-services-wrapper{
  margin-top: 80px;
  margin-left: 120px;
  margin-right: 120px;
}

.custom-me-wrapper{
margin-left: 140px;
  margin-right: 140px;
}

.custom-philosophy-wrapper{
  margin-right: 415px;
  margin-top: -150px;
}

.glass-card {
    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    border-radius: 25px;
    padding: 30px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 8px 20px rgba(0,0,0,0.15);
}

.profile-img {
    width: 100%;
    border-radius: 25px;
    object-fit: cover;
}

.section-title {
    font-weight: 700;
    font-size: 2rem;
    margin-bottom: 20px;
}


.logo{
    font-family: "Playfair", serif;
}

.acco{
    font-family: "Lato", sans-serif;
}

.custom-footer-wrapper{
  padding-left: 140px;
  padding-right: 140px;
}
html {
  scroll-behavior: smooth;
}

.pill-container {
  position: relative;
  width: 100%;
  height: 180px; 
  margin-top: 40px;
}


.pill {
  position: absolute;
  padding: 12px 28px;
  border-radius: 40px;
  font-size: 20px;
  font-weight: 500;
  white-space: nowrap;
  background-color: grey;
  color: rgb(97, 97, 97);
}


.pill-1 { top: 40%; left: -5%; transform: rotate(-12deg); }
.pill-2 { top: 28%; left: 30%; transform: rotate(-3deg); }
.pill-3 { top: 45%; left: 42%; transform: rotate(-16deg); }
.pill-4 { top: 62%; left: 58%; }
.pill-5 { top: 62%; left: 15%; }
.pill-6 { top: 28%; right: 5%; }
.pill-7 { top: 63%; right: -7%; }

.tool-icon {
  width: 70px;
  height: 70px;
  object-fit: contain;
}
.icon {
  display: inline-flex;
  padding: 2px;
  
}

.contact-icon {
  width: 40px;
  height: 40px;
  object-fit: contain;
}

